[user]
    name = realguse
    email = hi@realguse.com
    signingkey = 637D439501C16F4D

[init]
	defaultBranch = main

[core]
    editor = nvim

[alias]
    s = status -s
    c = commit
    a = add
    p = push
    l = log --graph --decorate --oneline
    k = checkout
    m = switch
    b = branch
    t = log --tags --decorate --simplify-by-decoration --oneline

[commit]
    gpgSign = true
	verbose = true

[tag]
    gpgSign = true

[column]
    ui = auto

[branch]
    sort = -committerdate

[diff]
	algorithm = histogram

[push]
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
