[user]
    name = realguse
	email = alberths2011@icloud.com

[core]
	editor = nvim

[alias]
    s = status -s
    c = commit
    a = add
    p = push
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    k = checkout
    m = switch
    b = branch
